{% extends "base.html" %}
{% block title %}
Add Book
{% endblock %}

{% block content %}
<h1> Add New Book</h1>
<form method="POST">
    <P>
        <label>Book Title</label>
        <br>
        <input type="text" name="title" placeholder="Enter book title" required>
    </P>
    <p>
        <label>Author</label><br>
        <input type="text" name="author" placeholder="Enter book author" required>
    </p>
    <p>
        <label>Price</label><br>
        <input type="text" name="price" step="0.01" placeholder="Enter book price" required>

    </p>
    <p>
        <label> Status </label><br>

        <select name="status">
            <option value="Available">Available</option>
            <option value="Borrowed">Borrowed</option>
        </select>
    </p>
    <button type="submit">Add Book</button>
</form>
<br>
<a class="btn" href="{{ url_for('index') }}">Back to Books</a>
{% endblock %}